﻿@model ComicsMovies.Web.Models.DirectorsViewModel
@{
    ViewBag.Title = "DirectorIndex";
}

<h2>Directors Index</h2>

<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("DirectorEdit", Model.EditedDirector)
@Html.Partial("DirectorList", Model.ListOfDirectors)

