﻿@model ComicsMovies.Web.Models.Director

<h2>Edit one director</h2>

@using (Html.BeginForm("Edit", "Directors"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id);
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.FirstName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.FirstName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.LastName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.LastName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Nationality)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nationality)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Salary)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Salary)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Birth)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Birth)</div>

    <input type="submit" value="SEND"/>
}