﻿@model  ComicsMovies.Web.Models.Director
@{
    ViewBag.Title = "DirectorDetails";
}

<h2>Datasheet of one director</h2>
@Html.ActionLink("Back to the list", "Index")

<table>
    <tr>
        <td>The ID for the director</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.FirstName)</td>
        <td>@Html.DisplayFor(m => m.FirstName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.LastName)</td>
        <td>@Html.DisplayFor(m => m.LastName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nationality)</td>
        <td>@Html.DisplayFor(m => m.Nationality)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Salary)</td>
        <td>@Html.DisplayFor(m => m.Salary)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Birth)</td>
        <td>@Html.DisplayFor(m => m.Birth)</td>
    </tr>
</table>

